/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome";

 section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: #007b5e !important;
}
#footer h5{
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color:#ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size:25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.social li:hover a i {
  font-size:30px;
  margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
  color:#ffffff;
}
#footer ul.social li a:hover{
  color:#eeeeee;
}
#footer ul.quick-links li{
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left:5px;
  font-weight:700;
}
#footer ul.quick-links li a i{
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

a span.sign-up-facebook, a span.sign-up-google {
  color: #fff;
}

a {
  text-decoration: none;
}

a span.sign-up-facebook {
  background: #3C589C;
}

a span.sign-up-google {
  background: #DF4B3B;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  margin-bottom: 100px;
}

section#footer {
  margin-top: 100px;
}

.sign-in, .sign-up {
  text-align: center;
  margin: 0 32%;
  border: 1px solid #7d7575;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #f3f3f3;
}

input#user_email, input#user_password, input#user_name, input#user_password_confirmation, input#user_current_password {
  width: 78% !important;
  margin-top: 20px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.field.checkbox {
  text-align: left !important;
  margin-left: 11%;
}

input.sign-up {
  margin-top: 20px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

p.flash {
  margin-bottom: 0px;
}

div#error_explanation {
  text-align: left;
  margin-left: 35px;
}

.logo-outer {
  text-align: center;
  padding: 15px 0;
  position: relative
}

.logo-outer:before,.logo-outer:after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 1px;
  width: 120px;
  background: #13113a
}

@media (max-width: 1199px) {
  .logo-outer:before,.logo-outer:after {
      display:none
  }
}

.logo-outer:before {
  left: -135px
}

.logo-outer:after {
  right: -135px
}

@media (max-width: 991px) {
  .logo-outer {
      position:absolute;
      top: 9px;
      padding: 0;
      text-align: left
  }
}

@media (max-width: 420px) {
  .logo-outer {
      top:12px
  }
}

.logo-inner {
  position: relative
}

.logo-inner:before,.logo-inner:after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 1px;
  width: 80px;
  background: #13113a
}

@media (max-width: 1199px) {
  .logo-inner:before,.logo-inner:after {
      display:none
  }
}

.logo-inner:before {
  left: -96px
}

.logo-inner:after {
  right: -96px
}

@media (max-width: 1199px) and (min-width: 992px) {
  .logo-inner img {
      width:38%
  }
}

@media (max-width: 575px) {
  .logo-inner img {
      width:80%
  }
}

.header-area {
  background-color: aliceblue;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  z-index: 999999;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s
}

@media (max-width: 991px) {
  .header-area {
      position:absolute;
      box-shadow: -21.213px 21.213px 30px 0px rgba(158,158,158,0.3)
  }
}

.header-area .navbar {
  padding: 0
}

@media (max-width: 991px) {
  .header-area .navbar {
      padding:20px 0;
      max-width: 100px;
      margin-left: auto
  }
}

.header-area .navbar .dropdown-item {
  width: auto !important;
  text-align: left;
  font-size: 14px
}

@media (max-width: 991px) {
  .header-area .navbar .dropdown-item {
      text-align:right;
      padding: 0.25rem
  }
}

.header-area .navbar .dropdown-item:hover {
  color: #13113a
}

.header-fixed {
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: -21.213px 21.213px 30px 0px rgba(158,158,158,0.3)
}

@media (min-width: 992px) {
  .dropdown .dropdown-menu {
      display:block;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 200ms ease-in;
      -moz-transition: all 200ms ease-in;
      -ms-transition: all 200ms ease-in;
      -o-transition: all 200ms ease-in;
      transition: all 200ms ease-in
  }

  .dropdown:hover .dropdown-menu {
      display: block;
      opacity: 1;
      visibility: visible
  }
}

.dropdown-item:focus,.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: transparent
}

.menu-left {
  text-align: right
}

.menu-left a {
  margin-right: 26px;
  color: #000;
  font-size: 14px;
  font-family: "Playfair Display",serif;
  font-weight: 700;
  font-style: italic
}

@media (max-width: 1199px) {
  .menu-left a {
      margin-right:16px
  }
}

@media (max-width: 991px) {
  .menu-left a {
      margin-right:7px
  }
}

.menu-left a:hover,.menu-left a.active {
  color: #13113a
}

.menu-left a:last-child {
  margin-right: 0
}

@media (max-width: 991px) {
  .menu-left {
      display:none
  }
}

.menu-right .nav-item .nav-link {
  margin: 0px 20px;
  color: #000;
  font-size: 14px;
  font-family: "Playfair Display",serif;
  font-weight: 700;
  font-style: italic;
  padding: 38px 0px
}

.menu-right .nav-item .nav-link:hover,.menu-right .nav-item .nav-link.active {
  color: #13113a
}

@media (max-width: 1199px) {
  .menu-right .nav-item .nav-link {
      margin:0px 9px
  }
}

@media (max-width: 991px) {
  .menu-right .nav-item .nav-link {
      padding:10px 0;
      margin-right: 7px;
      letter-spacing: normal
  }
}

.menu-right .nav-item .dropdown-menu {
  border-radius: 0;
  margin-top: 0px;
  border: none
}

@media (max-width: 991px) {
  .menu-right .nav-item .dropdown-menu {
      margin-top:0px
  }
}

.menu-right .nav-item .dropdown-menu a {
  display: block;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-style: italic
}

@media (max-width: 1280px) and (min-width: 799px) {
  .menu-right {
      font-size:11px
  }
}

@media (max-width: 800px) {
  .menu-right {
      font-size:14px
  }
}

@media (max-width: 991px) {
  .menu-right {
      text-align:right
  }
}

.menu-right .hide-lg {
  display: none
}

@media (max-width: 991px) {
  .menu-right .hide-lg {
      display:block
  }
}

.default-header {
  background-color: #fff;
  padding: 20px 0;
  width: 100% !important;
  box-shadow: -21.213px 21.213px 30px 0px rgba(158,158,158,0.3)
}

.menu-right .nav-item .dropdown-menu {
  border-radius: 0;
  margin-top: 0px;
  border: none;
  background-color: #c1daf1;
}

div.edit-profile {
  text-align: center;
  margin: 0 32%;
  border: 1px solid #7d7575;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #f3f3f3;
}

input.update-profile {
  margin-top: 20px;
}
