// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#comment_content {
  margin-top: 20px;
}

.thumbnail {
  padding: 0px;
}

.panel {
  position: relative;

  .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: #ddd;
    
    &:after, &:before {
      position: absolute;
      top: 11px;
      left: -16px;
      right: 100%;
      width: 0;
      height: 0;
      display: block;
      content: " ";
      border-color: transparent;
      border-style: solid solid outset;
      pointer-events: none;
    }

    &:before {
      border-right-color: #ddd;
      border-width: 8px;
    }

    &:after {
      border-width: 7px;
      border-right-color: #f7f7f7;
      margin-top: 1px;
      margin-left: 2px;
    }
  }
}

.panel-body {
  padding: 15px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.panel.panel-default {
  border-color: #ddd;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 0px 1px rgba(0.05, 0.05, 0.05, 0.05)
}
