// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form#new_post, body > h1, form.edit_post{
  margin: 0 20%;
}
input[type="submit"] {
  background-color: #6dc583;
  border-color: #6dc583;
}

.actions .back, a.post-back {
  background-color: #357ebd;
  border-color: #357ebd;
}
a.post-back:hover {
  color: #fff;
}

a.post-back, .actions .back {
  margin-right: 20px;
}


a.back {
  margin-left: 20px;
}

input[type="submit"], .actions .back, a.post-back {
  text-decoration: none !important;
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: 700;
  font-size: 14px;
}

input#post_image {
  border: 1px solid transparent;
  border-radius: 4px;
}

a:hover { text-decoration:none; }
.btn
{
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}
.btn-read-more
{
    padding: 5px;
    text-align: center;
    border-radius: 0px;
    display: inline-block;
    border: 2px solid #662D91;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color:#662D91;
}

.btn-read-more:hover
{
    color: #FFF;
    background: #662D91;
}

.post { 
  border-bottom:1px solid #DDD 
}

.post-title {
  color:#662D91; 
}
.post .glyphicon {
  margin-right:5px;
}

.post-header-line {
  border-top:1px solid #DDD;border-bottom:1px solid #DDD;padding:5px 0px 5px 15px;font-size: 12px;
}
.post-content {
  padding-bottom: 15px;padding-top: 15px;
}

a.btn.btn-read-more {
  border: 1px solid #357ebd;
  color: #357ebd;
}

a.btn.btn-read-more:hover {
  background-color: #357ebd;
  color: #fff;
}

a.btn.btn.success.btn-create {
  background-color: #6dc583;
  color: #fff;
  margin-left: 15px;
  margin-bottom: 15px;
}

span.dropdown.actions-post {
  float: right;
  font-size: 15px;
  margin-right: 20px;
  color: black !important;
}

.dropdown-item {
  padding: 0rem 1rem;
}

hr {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}

.profile-img{
  text-align: center;

  img {
    border: 1px solid #cec2c2;
    width: 70%;
    height: 200px;
  }
  .file {
    position: relative;
    overflow: hidden;
    margin-top: -19%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;

    input {
      position: absolute;
      opacity: 0;
      right: 0;
      top: 0;
    }
  }
}

.profile-head{
  h5 {
    color: #333;
  }
  h6 {
    color: #0062cc;
  }
}

.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}

.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;

  span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
  }
}

.profile-head .nav-tabs{
  margin-bottom:5%;
  .nav-link {
    font-weight:600;
    border: none;
  }
  .nav-link.active {
    border: none;
    border-bottom:2px solid #0062cc;
  }
}

.profile-work {
  padding: 14%;
  margin-top: -15%;
  p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
  }
  a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
  }
  ul {
    list-style: none;
  }
}

.profile-tab {
  label {
    font-weight: 600;
  }
  p {
    font-weight: 600;
    color: #0062cc;
  }
}

a.profile-edit-btn.btn {
  background-color: #6dc583;
  color: #fff;
  margin-left: 15px;
  margin-bottom: 20px;
}

.container.panigate {
  margin-top: 20px;
}

.row.even {
  background-color: #e8fde8;
}

.row.odd {
  background-color: #d8f5f7;
}

.single-recent-blog-post {
  margin-bottom: 60px;
  .thumb {
    position: relative;
  }

  .thumb-info {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    max-width: 500px;
    padding-left: 5px;

    li {
      display: inline-block;
      font-size: 15px;
      color: #777777;
      margin-right: 10px;

      a {
        color: #777777;
        padding: 4px 0;
        font-size: 12px;
      }
    }

    li:last-child {
      margin-right: 0;
    }
  }

  .date {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
}

@media (min-width: 430px) {
  .single-recent-blog-post .thumb-info {
      padding-left:20px;
  }
}

@media (min-width: 430px) {
  .single-recent-blog-post .thumb-info li {
      margin-right:22px;
  }
}

@media (min-width: 430px) {
  .single-recent-blog-post .thumb-info li a {
      font-size: 15px;
  }
}

.single-recent-blog-post .thumb-info li i,.single-recent-blog-post .thumb-info li span {
  font-size: 13px;
  margin-right: 10px;
}

.single-recent-blog-post .details {
  padding-top: 30px;

  h3 {
    font-size: 21px;
  }
}

@media (min-width: 600px) {
  .single-recent-blog-post .details h3 {
      font-size:27px;
  }
}

.single-recent-blog-post .details .tag-list-inline {
  color: #555555;
  font-family: "Lora",serif;
  
  a {
    color: #555555;
  }
}

.single-recent-blog-post .details p {
  color: #777777;
}

.single-recent-blog-post .details .button {
  margin-top: 8px;
}

.single-recent-blog-post.card-view .thumb-info {
  max-width: 260px;
}

.single-recent-blog-post.card-view .details h3 {
  font-size: 20px;
}

ul.thumb-info {
  margin-bottom: 0;
  padding: 10px 0;
}

#nav-bottom ul.nav-menu li a, #nav-top ul.nav-social li a {
  color: black !important;
  text-decoration: none;
  &:hover {
    color: #ff9907 !important;
  }
}

a.btn.btn-dark.button {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 24px;
  background-color: #222;
  color: #ff9907;
  transition: all .4s ease;

  &:hover {
    color: black;
    background-color: #ff9907;
    border-color: #ff9907;
  }
}

@media (max-width: 991px) {
  .widget-wrap {
    margin-top: 80px;
  }
}

.widget-wrap .single-sidebar-widget {
  padding: 48px 30px;
  background: #f9f9ff;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .widget-wrap .single-sidebar-widget {
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .widget-wrap .single-sidebar-widget {
    padding: 50px 15px;
  }
}

.widget-wrap .single-sidebar-widget:last-child {
  margin-bottom: 0px;
}

.widget-wrap .single-sidebar-widget__title {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  z-index: 1;
  margin-bottom: 22px;
}

.widget-wrap .tag_cloud_widget ul li {
  display: inline-block;
}

.widget-wrap .tag_cloud_widget ul li a {
  display: inline-block;
  border: 1px solid transparent;
  background: #fff;
  padding: 3px 21px;
  margin-bottom: 10px;
  margin-right: 6px;
  transition: all 0.3s ease 0s;
  color: #777777;
  font-size: 14px;
}

.widget-wrap .tag_cloud_widget ul li a:hover {
  background: #222;
  color: #ff9907;
}

.widget-wrap .search-widget form.search-form input[type="text"] {
  height: 40px;
  color: #ff9907;
  padding: 11px 22px;
  font-size: 14px;
  border: none;
  float: left;
  width: 80%;
}

@media (max-width: 575px) {
  .widget-wrap .search-widget form.search-form input[type="text"] {
    width: 86%;
  }
}

.widget-wrap .search-widget ::-webkit-input-placeholder {
  color: #ff9907;
  font-weight: 500;
  font-size: 14px;
  opacity: .8;
}

.widget-wrap .search-widget ::-moz-placeholder {
  color: #ff9907;
  font-weight: 500;
  font-size: 14px;
  opacity: .8;
}

.widget-wrap .search-widget :-ms-input-placeholder {
  color: #ff9907;
  font-weight: 500;
  font-size: 14px;
  opacity: .8;
}

.widget-wrap .search-widget :-moz-placeholder {
  color: #ff9907;
  font-weight: 500;
  font-size: 14px;
  opacity: .8;
}

.widget-wrap .search-widget form.search-form button {
  float: left;
  width: 20%;
  padding: 7px;
  color: #ff9907;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background: #ffffff;
}

@media (max-width: 575px) {
  .widget-wrap .search-widget form.search-form button {
    width: 14%;
  }
}

.widget-wrap .search-widget form.search-form::after {
  content: "";
  clear: both;
  display: table;
}

.widget-wrap .instafeed-widget .instafeed-title {
  color: #ff9907;
  font-size: 20px;
  color: #3a414e;
  font-weight: 700;
  position: relative;
  display: inline-block;
}

.widget-wrap .instafeed-widget .instafeed-title::after {
  content: "";
  position: absolute;
  top: 13px;
  right: -100%;
  height: 2px;
  width: 80px;
  background: #3a414e;
}

.widget-wrap .instafeed-widget .instafeed {
  margin: 20px -24px 0px;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .widget-wrap .instafeed-widget .instafeed {
    margin: 20px -16px;
  }
}

@media (max-width: 575px) {
  .widget-wrap .instafeed-widget .instafeed {
      margin:20px 0px 0px;
      padding: 0px;
  }
}

.widget-wrap .instafeed-widget .instafeed li {
  overflow: hidden;
  width: 33%;
}

@media (max-width: 991px) {
  .widget-wrap .instafeed-widget .instafeed li {
    width: auto;
  }
}

.widget-wrap .instafeed-widget .instafeed li img {
  margin: 5px;
}

.widget-wrap .popular-post-widget .popular-title {
  color: #ff9907;
  font-size: 20px;
  color: #3a414e;
  font-weight: 700;
  position: relative;
  display: inline-block;
}

.widget-wrap .popular-post-widget .popular-title::after {
  content: "";
  position: absolute;
  top: 13px;
  right: -75%;
  height: 2px;
  width: 80px;
  background: #3a414e;
}

.widget-wrap .popular-post-widget .popular-post-list {
  margin-top: 30px;
}

.widget-wrap .popular-post-widget .single-post-list {
  margin-bottom: 5px;
}

.widget-wrap .popular-post-widget .single-post-list:last-child {
  margin-bottom: 0px;
}

.widget-wrap .popular-post-widget .single-post-list .thumb {
  position: relative;
}

.widget-wrap .popular-post-widget .single-post-list .thumb-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  max-width: 180px;
  padding-left: 10px;
}

.widget-wrap .popular-post-widget .single-post-list .thumb-info li {
  display: inline-block;
  font-size: 14px;
  color: #999999;
}

.widget-wrap .popular-post-widget .single-post-list .thumb-info li::after {
  content: "|";
  padding: 0 7px;
}

.widget-wrap .popular-post-widget .single-post-list .thumb-info li:last-child::after {
  display: none;
}

.widget-wrap .popular-post-widget .single-post-list .thumb-info li a {
  padding: 5px 0;
  color: #999999;
}

.widget-wrap .popular-post-widget .single-post-list .details {
  margin-top: 20px;
}

.widget-wrap .popular-post-widget .single-post-list .details h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.widget-wrap .popular-post-widget .single-post-list .details h6:hover {
  color: #ff9907;
}

.widget-wrap .popular-post-widget .single-post-list .details p {
  margin-bottom: 0px;
}

.widget-wrap .ads-widget img {
  width: 100%;
}

.widget-wrap .post-category-widget .category-title {
  color: #ff9907;
  font-size: 20px;
  color: #3a414e;
  font-weight: 700;
  position: relative;
  display: inline-block;
}

.widget-wrap .post-category-widget .category-title::after {
  content: "";
  position: absolute;
  top: 13px;
  right: -100%;
  height: 2px;
  width: 80px;
  background: #3a414e;
}

.widget-wrap .post-category-widget .cat-list li {
  padding: 13px 20px;
  background: #ffffff;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.widget-wrap .post-category-widget .cat-list li:last-child {
  margin-bottom: 0px;
}

.widget-wrap .post-category-widget .cat-list li p {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.widget-wrap .post-category-widget .cat-list li a {
  color: #797979;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.widget-wrap .post-category-widget .cat-list li:hover {
  box-shadow: 0px 10px 30px 0px rgba(153,153,153,0.2);
}

.widget-wrap .post-category-widget .cat-list li:hover a {
  color: #ff9907;
}

.widget-wrap .post-category-widget .cat-list li:hover p {
  color: #ff9907;
}

.widget-wrap .newsletter-widget .newsletter-title {
  color: #ff9907;
  font-size: 20px;
  color: #3a414e;
  font-weight: 700;
  position: relative;
  display: inline-block;
}

.widget-wrap .newsletter-widget .newsletter-title::after {
  content: "";
  position: absolute;
  top: 13px;
  right: -100%;
  height: 2px;
  width: 80px;
  background: #3a414e;
}

.widget-wrap .newsletter-widget .col-autos {
  width: 100%;
}

.widget-wrap .newsletter-widget p {
  text-align: center;
  margin: 20px 0px;
}

.widget-wrap .newsletter-widget .bbtns {
  border: 0;
  background: #222;
  border: 1px solid #222;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px 20px;
  border-radius: 0;
  cursor: pointer;
  color: #ff9907;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.widget-wrap .newsletter-widget .bbtns:hover {
  opacity: 0.9;
}

.widget-wrap .newsletter-widget .input-group-text {
  background: #fff;
  border-radius: 0px;
  vertical-align: top;
}

.widget-wrap .newsletter-widget .input-group-text i {
  color: #ccc;
  margin-top: -1px;
}

.widget-wrap .newsletter-widget .form-control {
  border-radius: 0px;
  font-size: 14px;
  color: #999999;
  padding: 0px 15px;
  height: 50px;
  border-color: rgba(112,111,135,0.2);
}

.widget-wrap .newsletter-widget .form-control:focus {
  box-shadow: none;
}

.widget-wrap .newsletter-widget ::-webkit-input-placeholder {
  font-size: 14px;
  color: #999999;
  opacity: .8;
}

.widget-wrap .newsletter-widget ::-moz-placeholder {
  font-size: 14px;
  color: #999999;
  opacity: .8;
}

.widget-wrap .newsletter-widget :-ms-input-placeholder {
  font-size: 14px;
  color: #999999;
  opacity: .8;
}

.widget-wrap .newsletter-widget :-moz-placeholder {
  font-size: 14px;
  color: #999999;
  opacity: .8;
}

.widget-wrap .newsletter-widget .text-bottom {
  margin-bottom: 0px;
}

.widget-wrap .share-widget .share-title {
  color: #ff9907;
  font-size: 20px;
  color: #3a414e;
  font-weight: 700;
  position: relative;
  display: inline-block;
}

.widget-wrap .share-widget .share-title::after {
  content: "";
  position: absolute;
  top: 13px;
  right: -70%;
  height: 2px;
  width: 80px;
  background: #3a414e;
}

.widget-wrap .share-widget .social-icons a {
  color: #ff9907;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid #797979;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1119px) and (min-width: 991px) {
  .widget-wrap .share-widget .social-icons a {
      margin-right:4px;
  }
}

.widget-wrap .share-widget .social-icons a:hover {
  background: #ff9907;
  color: #ffffff;
}

